<!-- @include backend/src/App/BackendBundle/Resources/views/Layout/gulp/_doctype.html.twig -->
<head>
    <!-- @include backend/src/App/BackendBundle/Resources/views/Layout/gulp/_head.html.twig -->
    <meta charset="UTF-8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/public/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/public/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/public/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/public/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/public/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="/public/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/public/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/public/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/public/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/public/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="Sandbox"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/public/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/public/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/public/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/public/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/public/favicon/mstile-310x310.png" />
</head>
<body ng-app="app">

<div ui-view class="app"></div>

<!-- @include backend/src/App/BackendBundle/Resources/views/Layout/gulp/_body.html.twig -->
</body>
</html>
