

    {% if api is not defined %}
        <div class="container-fluid">
            <header>
                {{ render_pageparts(page, 'header') }}
            </header>

            <section class="text--center">
                {{ render_pageparts(page, 'section1') }}
            </section>

            <section class="splash splash--gray-lighter">
                <div class="container">
                    {{ render_pageparts(page, 'section2') }}
                </div>
            </section>

            <section class="splash">
                <div class="container">
                    {{ render_pageparts(page, 'section3') }}
                </div>
            </section>

            <section class="splash splash--gray-lighter text--center splash--smaller-margin">
                <div class="container">
                    {{ render_pageparts(page, 'section4') }}
                </div>
            </section>

            <section class="container text--center">
                {{ render_pageparts(page, 'section5') }}
            </section>
        </div>
    {% else %}
        <title>{{ page.title }}</title>
        <menuDescription>{{ page.menuDescription }}</menuDescription>
        {% include 'AppBackendBundle:Layout:_media.html.twig' with {'media': page.menuImage } %}
        <pageparts>
            <header>{{ render_pageparts(page, 'header') }}</header>
            <section1>{{ render_pageparts(page, 'section1') }}</section1>
            <section2>{{ render_pageparts(page, 'section2') }}</section2>
            <section3>{{ render_pageparts(page, 'section3') }}</section3>
            <section4>{{ render_pageparts(page, 'section4') }}</section4>
            <section5>{{ render_pageparts(page, 'section5') }}</section5>
        </pageparts>
    {% endif %}