{% if resource.video is defined and resource.video %}
    {% set handler = mediamanager.getHandler(resource.video) %}
    {% set helper = handler.getFormHelper(resource.video) %}

    {% if helper.type == 'youtube' %}
        {% set videoEmbedUrl = "//www.youtube.com/embed/" ~ helper.code %}
    {% elseif helper.type == 'vimeo' %}
        {% set videoEmbedUrl = "//player.vimeo.com/video/" ~ helper.code %}
    {% elseif helper.type == 'dailymotion' %}
        {% set videoEmbedUrl = "//www.dailymotion.com/embed/video/" ~ helper.code %}
    {% endif %}

    {% if api is not defined %}
        {% set videoImage = asset('frontend/img/general/video-pp--default.svg') %}
        {% if resource.thumbnail is not empty %}
            {% set videoImage = asset(resource.thumbnail.url|imagine_filter('optim')) %}
        {% endif %}
        <div class="video-pp">
            <div class="videolink">
                <a href="{{ videoEmbedUrl }}" target="_blank" class="js-videolink-play-link videolink__video-link"
                   data-video-provider="{{ helper.type }}" data-video-id="{{ helper.code }}" data-make-fluid="true">
                    <img src="{{ videoImage }}" alt="{% if resource.caption %}{{ resource.caption }}{% endif %}"
                         class="videolink__video-link__image"/>
                </a>
                <div class="js-videolink-container videolink__video-container"></div>
            </div>

            {% if resource.caption %}
                <div class="caption">{{ resource.caption }}</div>
            {% endif %}
        </div>
    {% else %}
        <videoPagePart>
            <position>{{ _key }}</position>
            <type>{{ helper.type }}</type>
            <code>{{ helper.code }}</code>
            <url>{{ videoEmbedUrl }}</url>
            {% if resource.caption %}
                <caption>{{ resource.caption }}</caption>
            {% endif %}
            {% if resource.thumbnail is not empty %}
                <thumbnail>{{ resource.thumbnail.url }}</thumbnail>
            {% endif %}
        </videoPagePart>
    {% endif %}
{% endif %}
