{% if api is not defined %}
    <h{{ resource.niv }} id="{{ resource.title|slugify }}">
        {{ resource.title }}
    </h{{ resource.niv }}>
{% else %}
    <headerPagePart>
        <position>{{ _key }}</position>
        <type>{{ resource.niv }}</type>
        <content>{{ resource.title }}</content>
        <id>{{ resource.title|slugify }}</id>
    </headerPagePart>
{% endif %}
