
{% extends 'KunstmaanAdminListBundle:Default:list.html.twig' %}

{% block extra_actions_header %}
    {% if adminlistconfigurator.overviewPage %}
    <div class='col-sm-6 col-md-4'>
        <!-- Main-actions -->
        <div class='page-main-actions page-main-actions--no-tabs page-main-actions--inside-extra-actions-header'>
        <div class='btn-group'>
            <a href='#' data-target='#add-subpage-modal' data-toggle='modal' class='btn btn-primary btn--raise-on-hover'>
            {{ 'form.add'|trans }}
            </a>
                </div>
        </div>
    </div>

    <div id='add-subpage-modal' class='modal fade'>
        <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
            <button class='close' data-dismiss='modal'>
                <i class='fa fa-times'></i>
            </button>
            <h3>
                Add Blog
            </h3>
                    </div>

            <form action='{{ path('KunstmaanNodeBundle_nodes_add', { 'id': get_node_for(adminlistconfigurator.overviewPage).id , 'type' : 'App\\BackendBundle\\Entity\\Pages\\BlogPage'}) }}' method='post' novalidate='novalidate'>

            <div class='modal-body'>
                <div class='form-group'>
                <label for='addpage_title'>
                    Title
                </label>
                <input type='text' name='title' id='addpage_title' class='form-control'>
                </div>
            </div>

            <div class='modal-footer'>
                <button type='submit' name='submit' class='btn btn-primary btn--raise-on-hover'>
                Add
                </button>
                <button class='btn btn-default btn--raise-on-hover' data-dismiss='modal'>
                Cancel
                </button>
            </div>
            </form>
                </div>
        </div>
        </div>
    {% else %}
    <div class='alert alert-warning'>
            <strong>Warning: </strong> You need to create at least one overview page before you can create a Blog
        <button class='close' data-dismiss='alert'>
        <i class='fa fa-times'></i>
        </button>
        </div>
    {% endif %}
{% endblock %}

