{% if api is not defined %}
    <figure class="header-visual">
        {% if resource.backgroundImage is not empty %}
            <img src="{{ asset(resource.backgroundImage.url|imagine_filter('optim')) }}" class="header-visual__img">
        {% endif %}

        <figcaption class="header-visual__content">
            <div class="container header-visual__content__inner">
                <h1 class="header-visual__title">
                    {{ resource.title }}
                </h1>

                {% if resource.description %}
                    <p class="header-visual__text">
                        {{ resource.description }}
                    </p>
                {% endif %}

                {% if resource.buttonUrl and resource.buttonText %}
                    <a href="{{ resource.buttonUrl }}" {% if resource.buttonNewWindow %}target="_blank"{% endif %}
                       class="btn header-visual__btn">
                        {{ resource.buttonText }}
                    </a>
                {% endif %}
            </div>
        </figcaption>
    </figure>
{% else %}
    <pageBannerPart>
        <position>{{ _key }}</position>
        <title>{{ resource.title }}</title>
        {% if resource.description %}
            <description>{{ resource.description }}</description>
        {% endif %}
        {% if resource.backgroundImage is not empty %}
            <backgroundImage>{{ resource.backgroundImage.url }}</backgroundImage>
        {% endif %}
        {% if resource.buttonUrl and resource.buttonText %}
            <button>
                <url>{{ resource.buttonUrl }}</url>
                <text>{{ resource.buttonText }}</text>
                {% if resource.buttonNewWindow %}
                    <target>_blank</target>
                {% endif %}
            </button>
        {% endif %}
    </pageBannerPart>
{% endif %}

