{% extends 'AppBackendBundle:Page:layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Sitemap</h1>
        <ul class="sitemap">
            {% if nodemenu is defined %}
                {% for topNode in nodemenu.getTopNodes() %}
                    {% for node in topNode.getChildren() %}
                        {% include 'KunstmaanSitemapBundle:SitemapPage:entry.html.twig' with {'entry' : node} %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        <ul>
    </div>
{% endblock %}


