/* ==========================================================================
   Pageparts - Download pp
   ========================================================================== */

/* General
   ========================================================================== */
.download-pp {
    @extend .icon--arrow-tail-down;

    margin: $default-margin 0;

    font-size: .85rem;

    &:before {
        @include iconfont-reset;

        margin-right: .5rem;

        font-size: 11px;
    }

    a {
        color: $text-color;
        font-weight: 600;
    }
}

/*doc
---
title: download-pp
name: 03_download-pp
category: Pageparts
---

```html_example
<p class="download-pp">
    <a href="http://sandbox.sycorax.kunstmaan.be/uploads/media/557841622d970/fixie1.png?v1" target="_blank" class="download">fixie1.png</a>
    <span>| png 1.8mb</span>
</p>
```

*/
