{% if api is not defined %}
    <div class="introtext-pp text--intro">
        {{ resource.content|raw }}
    </div>
{% else %}
    <introTextPagePart>
        <position>{{ _key }}</position>
        <content>{{ resource.content|e }}</content>
    </introTextPagePart>
{% endif %}