/* ==========================================================================
   Icon font

   Based on icomoon style.css
   ========================================================================== */

/* General
   ========================================================================== */
@font-face {
    font-family: $iconfont-name;
    src:url('#{$iconfont-path}/#{$iconfont-name}.eot?8at4kw');
    src:url('#{$iconfont-path}/#{$iconfont-name}.eot?#iefix8at4kw') format('embedded-opentype'),
    url('#{$iconfont-path}/#{$iconfont-name}.woff?8at4kw') format('woff'),
    url('#{$iconfont-path}/#{$iconfont-name}.ttf?8at4kw') format('truetype'),
    url('#{$iconfont-path}/#{$iconfont-name}.svg?8at4kw##{$iconfont-name}') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon--"], [class*=" icon--"] {
    font-family: $iconfont-name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Modifiers
   ========================================================================== */
.icon--small {
    font-size: .55em;
}


/* Icons
   ========================================================================== */
.icon--menu:before {
    content: "\e60d";
}

.icon--nav-location:before {
    content: "\e612";
}

.icon--nav-mail:before {
    content: "\e613";
}

.icon--nav-phone:before {
    content: "\e614";
}

.icon--search:before {
    content: "\e60c";
}

.icon--social-facebook:before {
    content: "\e608";
}

.icon--social-github:before {
    content: "\e609";
}

.icon--social-linkedin:before {
    content: "\e60a";
}

.icon--social-twitter:before {
    content: "\e60b";
}

.icon--arrow-up:before {
    content: "\e600";
}

.icon--arrow-down:before {
    content: "\e601";
}

.icon--arrow-left:before {
    content: "\e602";
}

.icon--arrow-right:before {
    content: "\e603";
}

.icon--arrow-tail-down:before {
    content: "\e604";
}

.icon--arrow-tail-left:before {
    content: "\e605";
}

.icon--arrow-tail-right:before {
    content: "\e606";
}

.icon--arrow-tail-up:before {
    content: "\e607";
}

.icon--triangle-down:before {
    content: "\e60e";
}

.icon--triangle-left:before {
    content: "\e60f";
}

.icon--triangle-right:before {
    content: "\e610";
}

.icon--triangle-up:before {
    content: "\e611";
}

/*doc
---
title: Iconfont
name: 03_iconfont
category: Typography
---
<div class="container exampleOutput no-markup">
    <div class="row">
        <div class="col-md-4">
                        <i class="icon icon--menu"></i>
                <code class='styleguide__code'>icon icon--menu</code>
                <br>

                <i class="icon icon--nav-location"></i>
                <code class='styleguide__code'>icon icon--nav-location</code>
                <br>

                <i class="icon icon--nav-mail"></i>
                <code class='styleguide__code'>icon icon--nav-mail</code>
                <br>

                <i class="icon icon--nav-phone"></i>
                <code class='styleguide__code'>icon icon--nav-phone</code>
                <br>

                <i class="icon icon--search"></i>
                <code class='styleguide__code'>icon icon--search</code>
                <br>

                <i class="icon icon--social-facebook"></i>
                <code class='styleguide__code'>icon icon--social-facebook</code>
                <br>

                <i class="icon icon--social-github"></i>
                <code class='styleguide__code'>icon icon--social-github</code>

            </div>
            <div class="col-md-4">
                <i class="icon icon--social-linkedin"></i>
                <code class='styleguide__code'>icon icon--social-linkedin</code>
                <br>

                <i class="icon icon--social-twitter"></i>
                <code class='styleguide__code'>icon icon--social-twitter</code>
                <br>

                <i class="icon icon--arrow-up"></i>
                <code class='styleguide__code'>icon icon--arrow-up</code>
                <br>

                <i class="icon icon--arrow-down"></i>
                <code class='styleguide__code'>icon icon--arrow-down</code>
                <br>

                <i class="icon icon--arrow-left"></i>
                <code class='styleguide__code'>icon icon--arrow-left</code>
                <br>

                <i class="icon icon--arrow-right"></i>
                <code class='styleguide__code'>icon icon--arrow-right</code>
                <br>

                <i class="icon icon--arrow-tail-down"></i>
                <code class='styleguide__code'>icon icon--arrow-tail-down</code>

            </div>
                <i class="icon icon--arrow-tail-left"></i>
                <code class='styleguide__code'>icon icon--arrow-tail-left</code>
                <br>

                <i class="icon icon--arrow-tail-right"></i>
                <code class='styleguide__code'>icon icon--arrow-tail-right</code>
                <br>

                <i class="icon icon--arrow-tail-up"></i>
                <code class='styleguide__code'>icon icon--arrow-tail-up</code>
                <br>

                <i class="icon icon--triangle-down"></i>
                <code class='styleguide__code'>icon icon--triangle-down</code>
                <br>

                <i class="icon icon--triangle-left"></i>
                <code class='styleguide__code'>icon icon--triangle-left</code>
                <br>

                <i class="icon icon--triangle-right"></i>
                <code class='styleguide__code'>icon icon--triangle-right</code>
                <br>

                <i class="icon icon--triangle-up"></i>
                <code class='styleguide__code'>icon icon--triangle-up</code>

            </div>
            </div>
</div>












*/
