/* ==========================================================================
   Forms - Widgets
   ========================================================================== */

/* Hidden
   ========================================================================== */
.form-widget--hidden {
    display: none;
}


/* Select
   ========================================================================== */
.form-widget--select {
    position: relative;

    max-width: 26rem;
    min-height: 2.5rem;
    padding: 0;

    border: 1px solid $hr-color;

    &:focus {
        border-color: $blue;
        outline: none;
    }

}
.select__icon {
    position: absolute;
    top: 0;
    right: .2rem;
    z-index: -1;

    height: 2.5rem;
    width: 2.5rem;

    font-size: .4rem;
    line-height: 2.5rem;
    text-align: center;
    color: $grey;
}

/* Choices
   ========================================================================== */
.form-widget--choices {
    padding-top: .5rem;

}

.form-widget--choices--filled {
    ~ .form__label {
        @include control-label-active;
    }
}


/* Widget - File Upload
   ========================================================================== */
.form-widget--file-upload {
    padding-top: .5rem;

    .form-control {
        line-height: 80%;
    }

    .form__label {
        top: -1.2rem;
    }

    ~ .form__label {
        display: none;
    }
}

/* Text area
   ========================================================================== */

.form-widget--textarea {
    width: 100%;
    max-width: 26rem;
}


/*doc
---
title: Form Widgets
name: 05_widgets
category: Forms
---


```html_example
<div class="form-widget--select" id="formwidget">
    <i class="icon icon--triangle-down select__icon"></i>
    <select id="formwidget-value" name="form[formwidget][formwidget-value]" required="required" class="form-control form-control--select">
        <option value="0">I want to make a website with the Kunstmaan bundles</option>
        <option value="1">I'm testing the website</option>
        <option value="2">I want to get a quote for a website built by Kunstmaan</option>
    </select>
    <span class="form-bar"></span>
</div>
```
*/
