/* ==========================================================================
   Forms - Form control
   ========================================================================== */

/* General
   ========================================================================== */
.form-control {
    display: block;
    width: 100%;
    max-width: 26rem;
    min-height: 2.5rem;
    padding: 0 1em;

    border: 0;

    border: 1px solid $hr-color;
    font-weight: 400;

    &:focus {
        outline: none;
    }

    &:focus,
    &.form-control--filled {
        border-color: $blue;
    }
}


/* Input
   ========================================================================== */
.form-control--input {}


/* Textarea
   ========================================================================== */
.form-control--textarea {
    min-height: 5.6rem;
    max-width: none;
}


/* Select
   ========================================================================== */
.form-control--select {
    z-index: 2;
    position: relative;

    padding-right: 2.5rem;
    height: 2.5rem;
    width: 100%;

    border: none;

    border-radius: 0;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    font-size: .7rem;

    &:focus, &:valid {
        opacity: 1;
    }
}


/*doc
---
title: Form Control
name: 02_form-control
category: Forms
---

<strong>Input</strong>

```html_example
<input type="text" id="fc1" name="fc1" class="form-control form-control--input">
```

<strong>Textarea</strong>

```html_example
<textarea id="fc2" name="fc2" class="form-control form-control--textarea"></textarea>
```

<strong>Select</strong>

```html_example
<select id="fc3" name="fc3" class="form-control form-control--select">
    <option>1</option>
    <option>2</option>
    <option>3</option>
</select>
```


*/
