/* ==========================================================================
   Forms - Form control label
   ========================================================================== */


/* General
   ========================================================================== */
.form-control-label {
    color: $grey;
    font-size: .9rem;

    pointer-events: none;
}



/*doc
---
title: Label
name: 03_label
category: Forms
---


```html_example
<label class="form-control-label">
    Name
</label>
```
*/
