/* ==========================================================================
   Bodycopy

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */

/* Line-height
   ========================================================================== */
$line-height--base:     1.7;

$line-height--small:    1.1;
$line-height--medium:   1.2;


/* Font sizes
   ========================================================================== */
$font-size--base:               18px;
$font-size--small:              .75rem;
$font-size--big:                1.125rem;
