{% if resource.media is not empty and app.request is defined %}
    {% set name = resource.media.name %}
    {% if name is empty %}
        {% set name = "Download"|trans %}
    {% endif %}
    {% if api is not defined %}
        <p class="download-pp">
            <a href="{{ app.request.schemeandhttphost ~ app.request.basePath ~ asset(resource.media.url) }}" target="_blank" class="download">{{ name }}</a>
            <span>| {{ resource.media.contentTypeShort }} {{ resource.media.getFileSize() }}</span>
        </p>
    {% else %}
        <downloadPagePart>
            <position>{{ _key }}</position>
            <url>{{ resource.media.url }}</url>
            <name>{{ name }}</name>
            <contentTypeShort>{{ resource.media.contentTypeShort }}</contentTypeShort>
            <fileSize>{{ resource.media.getFileSize() }}</fileSize>
        </downloadPagePart>
    {% endif %}
{% endif %}
