{% if api is not defined %}
    <div class="rawhtml-pp">
        {{ resource.content|raw }}
    </div>
{% else %}
    <rawHtmlPagePart>
        <position>{{ _key }}</position>
        <content>{{ resource.content|e }}</content>
    </rawHtmlPagePart>
{% endif %}
