{% set author = page.getAuthor() %}

{% if api is not defined %}
    <div class="container">
        <article class="blog-item">
            <header class="blog-item__head">
                <time class="blog-item__head__meta">
                    {{ page.date | date("d/m/Y") }}
                    {% if author is not empty %}
                        | <strong>{{ author.name }}</strong>
                    {% endif %}
                </time>
                <h1 class="blog-item__head__title">
                    {{ page.title }}
                </h1>
            </header>

            {{ render_pageparts(page, 'main') }}
        </article>
    </div>
{% else %}
    <title>{{ page.title }}</title>
    <date>{{ page.date | date("d/m/Y") }}</date>
    {% if author is not empty %}
        <author>
            {{ author.name }}
        </author>
    {% endif %}
    {% if article.summary %}
        <summary>{{ article.summary }}</summary>
    {% endif %}
    <pageparts>
        {{ render_pageparts(page, 'main') }}
    </pageparts>
{% endif %}