{% if api is not defined %}
    <p class="totop-pp"><a href="#">{{ 'top'|trans|title }}</a></p>
{% else %}
    <toTopPagePart>
        <position>{{ _key }}</position>
        <content>{{ 'top'|trans|title }}</content>
    </toTopPagePart>
{% endif %}
