{% set bikes = get_bikes() %}

{% if api is not defined %}
    {% if bikes|length > 0 %}
        <div class="table-responsive bikeslist-pp">
            <table class="table">
                <thead>
                <tr>
                    <th>{{ 'bike.type'|trans|capitalize }}</th>
                    <th>{{ 'bike.brand'|trans|capitalize }}</th>
                    <th>{{ 'bike.model'|trans|capitalize }}</th>
                    <th>{{ 'bike.price'|trans|capitalize }} (EUR)</th>
                </tr>
                </thead>
                <tbody>
                {% for bike in bikes %}
                <tr>
                    <td>{{ ('bike.' ~ bike.type)|trans }}</a></td>
                    <td>{{ bike.brand }}</td>
                    <td>{{ bike.model }}</td>
                    <td>{{ bike.price }}</td>
                    <td>{{ bike.picture }}</td>
                <tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% else %}
    <bikeListPagePart>
        <position>{{ _key }}</position>
        {% for bike in bikes %}
            <items>
                <type>{{ bike.type }}</type>
                <brand>{{ bike.brand }}</brand>
                <model>{{ bike.model }}</model>
                <price>{{ bike.price }} (EUR)</price>
                {% if bike.picture %}
                        <picture>{{ bike.picture }}</picture>
                {% endif %}
            </items>
        {% endfor %}
    </bikeListPagePart>
{% endif %}