{% if api is not defined %}
    <div class="container">
        <div class="submenu">
            {% include 'AppBackendBundle:Layout:submenu.html.twig' with {'page': page} %}
        </div>
    </div>
{% else %}
    <title>{{ page.title }}</title>
    <menuDescription>{{ page.menuDescription }}</menuDescription>
    {% include 'AppBackendBundle:Layout:_media.html.twig' with {'media': page.menuImage } %}
    <pageparts>
        <main>
            {{ render_pageparts(page, 'main') }}
        </main>
    </pageparts>
    {% if api is not defined %}<div class="submenu">{% endif %}
    {% include 'AppBackendBundle:Layout:submenu.html.twig' with {'page': page} %}
    {% if api is not defined %}</div>{% endif %}
{% endif %}