/* ==========================================================================
   Sizes

   This file is exclusively intended for setting up variables
   Never add styles directly to this file
   ========================================================================== */


/* Margins
   ========================================================================== */
$default-margin: 1.5rem;


/* Navigation sizes
   ========================================================================== */
$search-height: 48px;
$logo-height: $search-height;
$mainnav-height: $search-height;

$search-height-mobile: 30px;
$logo-height-mobile: $search-height-mobile;
$mainnav-height-mobile: $search-height-mobile;

$mobile-nav-width: 260px;
