{% if media %}
    <menuImage>
        {% if media.url %}
            <url>{{ media.url }}</url>
        {% endif %}
        {% if media.location %}
            <location>{{ media.location }}</location>
        {% endif %}
        {% if media.contentType %}
            <contentType>{{ media.contentType }}</contentType>
        {% endif %}
    </menuImage>
{% endif %}