<pager>
    <currentPage>{{ pagerfanta.currentPage }}</currentPage>
    <nbPages>{{ pagerfanta.getNbPages }}</nbPages>
    <nbResults>{{ pagerfanta.getNbResults }}</nbResults>
    {% if pagerfanta.hasPreviousPage %}
        <previousPage>{{ pagerfanta.getPreviousPage }}</previousPage>
    {% endif %}
    {% if pagerfanta.hasNextPage %}
        <nextPage>{{ pagerfanta.getNextPage }}</nextPage>
    {% endif %}
</pager>