{% if resource.items|length > 0 %}
    {% if api is not defined %}
        <div class="row">
            {% for uspItem in resource.items %}
                <div class="col-sm-4 col--padded usp-pp text--center">
                    <figure class="img-icon">
                        <img src="{{ uspItem.icon.url }}" alt="{{ uspItem.title }}" class="img-icon__img">
                    </figure>
                    <h5>
                        {{ uspItem.title }}
                    </h5>
                    {% if uspItem.description %}
                        <p>
                            {{ uspItem.description }}
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <uspPagePart>
            <position>{{ _key }}</position>
            {% for uspItem in resource.items %}
                <items>
                    <title>{{ uspItem.title }}</title>
                    <iconUrl>{{ uspItem.icon.url }}</iconUrl>

                    {% if uspItem.description %}
                        <description>{{ uspItem.description }}</description>
                    {% endif %}
                </items>
            {% endfor %}
        </uspPagePart>
    {% endif %}
{% endif %}


