/* ==========================================================================
   Links
   ========================================================================== */

/* Shared
   ========================================================================== */
a {
    color: $link-color;
    text-decoration: none;
    transition: color .3s ease;

    &:hover, &:focus {
        text-decoration: none;
        color: $link-color--hover;
    }
}


/*doc
---
title: Links
name: 02_links
category: Blocks
---

```html_example

<p>
    <a href="#">Link</a>
</p>

```
*/
