{% if api is not defined %}
    <div class="container">
        {% if thanks is defined and thanks %}
            {{ page.thanks|raw }}
        {% else %}
            {% form_theme frontendform 'AppBackendBundle:Form:fields.html.twig' %}

            {{ form_start(frontendform, {'method': 'POST', 'action': path('_slug', { 'url' : nodemenu.current.slug }), 'attr': {'novalidate': 'novalidate', 'class': 'form--default', 'role': 'form'}}) }}
            {{ render_pageparts(page, 'main') }}
            {{ form_rest(frontendform) }}
            {{ form_end(frontendform) }}
        {% endif %}
    </div>
{% else %}
    <formPage>
        <title>not implemented</title>
    </formPage>
{% endif %}