{% if api is not defined %}
    <p class="link-pp">
        <a href="{{ resource.url }}" {% if resource.openInNewWindow %}target="_blank"{% endif %}>
            {{ resource.text|default(resource.url) }}
            <i class="icon icon--arrow-right icon--small"></i>
        </a>
    </p>
{% else %}
    <linkPagePart>
        <position>{{ _key }}</position>
        <content>{{ resource.text|default(resource.url) }}</content>
        <url>{{ resource.url }}</url>
        {% if resource.openInNewWindow %}
            <target>_blank</target>
        {% endif %}
    </linkPagePart>
{% endif %}
