{% if api is not defined %}
    <div class="text-pp">
        {{ resource.content|raw }}
    </div>
{% else %}
    <textPagePart>
        <position>{{ _key }}</position>
        <content>{{ resource.content|e }}</content>
    </textPagePart>
{% endif %}
