
{% if page is defined %}
    {% if api is not defined %}

        {% set tocContent = "" %}
        {% for pagepart in getpageparts(page, 'main') %}
            {% if 'HeaderPagePart' in pagepart.getDefaultView %}
                {% if pagepart.niv is defined and pagepart.niv == 2 %}
                    {% set tocContent = tocContent ~ '<li><a href=\"#' ~ pagepart.getTitle|slugify ~ '\">' ~ pagepart.getTitle ~ '</a></li>' %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if tocContent %}
            <div class="toc-pp">
                <ul>
                    {{ tocContent|raw }}
                </ul>
            </div>
        {% endif %}
    {% else %}
        <textPagePart>
            <position>{{ _key }}</position>
            {% for pagepart in getpageparts(page, 'main') %}
                {% if 'HeaderPagePart' in pagepart.getDefaultView %}
                    {% if pagepart.niv is defined and pagepart.niv == 2 %}
                        <items>
                            <title>{{ pagepart.getTitle }}</title>
                            <id>{{ pagepart.getTitle|slugify }}</id>
                        </items>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </textPagePart>
    {% endif %}
{% endif %}

